@inherits LayoutComponentBase

<form method="post" action="/auth/logout">
    <AntiforgeryToken />
    <button type="submit">Logout</button>
</form>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>